:root {
  --main-height: 8cm;
  --choice-background-transparency: 0.4;
}

html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	background-color: #0c0c1a;
}

.outer-main {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.main {
	width: 30cm;
	height: var(--main-height);	
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1cm;
}


.container {
	width: var(--main-height);
	height: var(--main-height);
	box-shadow: 0 0 0.5cm #53B8BB;
	display:flex;
	justify-content: center;
  	align-items: center;	
	flex-direction: column;
}


.grid-box {
	background-color: white;
}



.row-pixel {
	display: flex;
	justify-content: center;		
	align-items: center;
}

.pixel {
	border: 0.1cm black;
  	-webkit-user-select: none;  /* Chrome all / Safari all */
  	-moz-user-select: none;     /* Firefox all */
  	-ms-user-select: none;      /* IE 10+ */
  	user-select: none;          /* Likely future */      
}


.color-palette, .selection-section {
	font-size: 0.4cm;

	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 0.74cm;
	
	width: 5.4cm;
	height: 100%;

	border: solid;
	border-radius: 0.3cm;
	border-width: 0.1cm;
	border-color: rgb(13, 13, 13, 0.8);

	box-shadow: 0 0 0.5cm #53B8BB;	

	background-color: #330033; 
	
	transition: 0.1s linear;
}


.selection-section {
	background-image: linear-gradient(to bottom right, rgb(255, 246, 0, var(--choice-background-transparency)), rgb(255, 0, 92, var(--choice-background-transparency)), rgb(129, 0, 52, var(--choice-background-transparency)), rgb(38, 0, 27, var(--choice-background-transparency)));
}


/* I want something like this for color-palette while turning it... But this is after I get to the somwhere in the middle of the javascript-backend path...
 * https://3dtransforms.desandro.com/box
 */
.color-palette {		
	justify-content: space-between;
	background-image: linear-gradient(to bottom right, rgb(38, 0, 27, var(--choice-background-transparency)), rgb(129, 0, 52, var(--choice-background-transparency)), rgb(255, 0, 92, var(--choice-background-transparency)), rgb(255, 246, 0, var(--choice-background-transparency)));
	transform-style: preserve-3d;
}

.color-palette > div {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 0.74cm;
}

.color-palette input#color-input {
	width: 5cm;
	height: 2cm;
}

.color-palette input#transparency-input {
	width: 4.9cm;
}

.grid-size-input {
	max: 40;
	min: 16;
}

.color-palette input#grid-size-input {
	width: 4.7cm;
}

.color-palette p {
	margin: -0.5mm;
	padding: 0;
	color: #F9DFDC;
}

.color-palette p.color-palette-title {
	margin: -0.5cm;
	margin-top: 0;
	margin-bottom: -0.4cm;
	font-weight: 800;
	font-size: 0.49cm;
}

.sketch-settings {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	gap: 0.12cm;
}

.color-palette p.title-color-input {
}

.color-palette p.title-transparency-input {
	margin-top: 0.2cm;
}

.color-palette p.title-grid-size-input {
}


hr {
	width: 80%;
	margin: -0.2cm;
	margin-top: -0.4cm;
	margin-bottom: -0.5cm;;
	background-color: #003638;
}


.change-settings-type {
	display: flex;
	align-items: center;
	justify-content: center;
}


.change-settings-type > div {
	width: 5cm;
	height: 1cm;

	display: flex;
	align-items: center;
	justify-content: center;
}



.change-settings-type button {
	width: 4cm;
	margin-bottom: 0.7cm;
	
	color: #b979b9;
	background: rgb(0, 0, 0, 0.2);

	border-style: solid;
	border-radius: 0.1cm;
	border-width: 0.12cm;
	border-color: #330033;

	/* https://developer.mozilla.org/en-US/docs/Web/CSS/transition */
	/* don't make this more than the parent element's duration, otherwise, you see the button, for example, transformed after the parent's animation/transform etc is over... */
	transition-duration: 0.1s;
}



.change-settings-type button:hover, .change-settings-type button:focus {
	width: 4.9cm;
	border-width: 0.15cm 0.56cm;
	font-size: 0.367cm;
	cursor: pointer;
}



.prevent-window {
	position: absolute;
	width: 100%;
	height: 100%;
	-webkit-user-select: none;  /* Chrome all / Safari all */
	-moz-user-select: none;     /* Firefox all */
  	-ms-user-select: none;      /* IE 10+ */
  	user-select: none;          /* Likely future */

	z-index: -1000; /* display didn't work, will just adjust the z-index from the js... */
}





