:root {
  --main-height: 8cm;
  --choice-background-transparency: 0.4;
}

html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	background-color: #0c0c1a;
}

.outer-main {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.main {
	width: 30cm;
	height: var(--main-height);	
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1cm;
}


.container {
	width: var(--main-height);
	height: var(--main-height);
	box-shadow: 0 0 0.5cm #53B8BB;
	display:flex;
	justify-content: center;
  	align-items: center;	
	flex-direction: column;
}

.grid-box {
	background-color: white;
}



.row-pixel {
	display: flex;
	justify-content: center;		
	align-items: center;
}

.pixel {
	border: 0.1cm black;
  	-webkit-user-select: none;  /* Chrome all / Safari all */
  	-moz-user-select: none;     /* Firefox all */
  	-ms-user-select: none;      /* IE 10+ */
  	user-select: none;          /* Likely future */      
}


.color-palette, .selection-section {
	font-size: 0.4cm;

	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 0.74cm;
	
	width: 5.4cm;
	height: 100%;

	border: solid;
	border-radius: 0.3cm;
	border-width: 0.1cm;
	border-color: rgb(13, 13, 13, 0.8);

	box-shadow: 0 0 0.5cm #53B8BB;	

	background-color: #330033; 
	
	transition: 1s;
}


.selection-section {
	background-image: linear-gradient(to bottom right, rgb(255, 246, 0, var(--choice-background-transparency)), rgb(255, 0, 92, var(--choice-background-transparency)), rgb(129, 0, 52, var(--choice-background-transparency)), rgb(38, 0, 27, var(--choice-background-transparency)));
}


/* I want something like this for color-palette while turning it... But this is after I get to the somwhere in the middle of the javascript-backend path...
 * https://3dtransforms.desandro.com/box
 */
.color-palette {		
	justify-content: space-between;
	background-image: linear-gradient(to bottom right, rgb(38, 0, 27, var(--choice-background-transparency)), rgb(129, 0, 52, var(--choice-background-transparency)), rgb(255, 0, 92, var(--choice-background-transparency)), rgb(255, 246, 0, var(--choice-background-transparency)));
	transform-style: preserve-3d;
}

.color-palette > div {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 0.74cm;
}

.color-palette input#color-input {
	width: 5cm;
	height: 2cm;
}

.color-palette input#transparency-input {
	width: 4.9cm;
}

.grid-size-input {
	max: 40;
	min: 16;
}

.color-palette input#grid-size-input {
	width: 4.7cm;
}

.color-palette p {
	margin: -0.5mm;
	padding: 0;
	color: #F9DFDC;
}

.color-palette p.color-palette-title {
	margin: -0.5cm;
	margin-top: 0;
	margin-bottom: -0.4cm;
	font-weight: 800;
	font-size: 0.49cm;
}

.sketch-settings {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	gap: 0.12cm;
}

.color-palette p.title-color-input {
}

.color-palette p.title-transparency-input {
	margin-top: 0.2cm;
}

.color-palette p.title-grid-size-input {
}


hr {
	width: 80%;
	margin: -0.2cm;
	margin-top: -0.4cm;
	margin-bottom: -0.5cm;;
	background-color: #003638;
}


.change-settings-type {
	/* 
	 * Instead of margin-bottom (which would make the inside of the color-palette longer), we're using margin-top with negative value so we can pull the .change-settings-type to the top instead of pushing to the top... 
	 * I mean, at least would work like that if justify-content of the parent wasn't 'space-between' etc...
	 margin-top: -0.38cm;
	 * can to margin-bottom to the button, or from the .color-palette, setting padding-bottom (but if there'snt't enough space, the .color-palette will get longer... idk what happens with max-height etc yet...) etc...
	 */
	display: flex;
	align-items: center;
	justify-content: center;
}


.change-settings-type > div {
	width: 5cm;
	height: 1cm;

	display: flex;
	align-items: center;
	justify-content: center;
}


.change-settings-type button {
	width: 4cm;
	margin-bottom: 0.7cm;
	
	color: #b979b9;
	background: rgb(0, 0, 0, 0.2);

	/* sooo, that color in the corners of the left and right section, because of this border-style */
	border-style: solid;
	border-radius: 0.1cm;
	border-width: 0.12cm;
	border-color: #330033;

	transition-duration: 0.2s;
}


.change-settings-type button:hover {
	/* border-style: dotted;
	 * https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_animated_properties
	 * not animatable
	 */
	width: 4.9cm;
	border-width: 0.15cm 0.56cm;
	font-size: 0.367cm;
	cursor: pointer;
}


/* 
 * searched for cilck...
 * https://www.w3schools.com/cssref/tryit.asp?filename=trycss_sel_active
 *
.change-settings-type button:active {
	cursor: grabbing;
}
 *
 */


/*
 * when I was searching for text shrik etc 
 * -- https://www.w3schools.com/cssref/css3_pr_font-stretch.asp, 
 * I came along to this stackoverflow 
 * -- https://stackoverflow.com/questions/36992673/in-using-the-css-scale-property-to-shrink-a-css-logo-the-div-seems-to-to-mainta post, 
 * then I searched for transform and boom, there is the thing something like I want 
 * -- https://www.w3schools.com/cssref/css3_pr_transform.asp
 */


/* IMPORTANT UPDATE TO COMMENTS BELOW THIS: I found what I was looking for, in here https://developer.mozilla.org/en-US/docs/Web/CSS/transform-style there's the parent element in the example, I inspected it and there was a property called "perspective" in the transform (gotta wrote this first (if will use it like perspective(100px) as one of the transform values, also this has different effect on the element)  in the transform values, otherwise wasn't affecting at all)
 * https://developer.mozilla.org/en-US/docs/Web/CSS/perspective
 */

/* https://stackoverflow.com/questions/55841149/how-to-achieve-depth-with-a-3d-css-transform
 * -- https://codepen.io/jrichmeier/pen/Mwdojy?editors=1100
 * IMPORTANT NOTE: maybe with box, 3d shape etc might work.. but you can still see in the link above, it has no depth at all. Especialy when you think from draw... when something going far away, it's gets smaller as look. with 3d shape, this might be a little bit eliiminated, but unless there isn't some stuff like shrinking the 1 side of the 1 face (I found it, it's perspective property), the depth won't be there at all, just will look ilke kinda....
 *
 * https://css-tricks.com/the-shapes-of-css/
 * /



 /*
  * There are ton of website that don't use 3d animations as 3d objects... But for once even for understanding, it'd work and as this is profile website, I believe it's ok to use such things to show some skills, but gotta looks nice, as my principals, not because have to...
  * we can still make lots of things with 2d and normal depth for 2d, also like in the drawing...
  *
  * -- this might have something I was thinking of:
  * -- https://css-tricks.com/css-in-3d-learning-to-think-in-cubes-instead-of-boxes/
  * -- https://css-tricks.com/how-to-make-a-pure-css-3d-package-toggle/
  * -- but this is a bit different... I got some roads for this, also I need to move on, shouldn't stuck here for such much...
  */




